@using FInalProject.Util.DB
@using FInalProject.Util.DbHandlers
@model List<FInalProject.Models.Driver> 
@{
    ViewData["Title"] = "Поиск";
}
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">На главную</a>
<h1>База данных автомобилей</h1>

<table border="1" class="table" style="border-collapse: collapse; width: 100%;alignment: left">
    <thead class="thead-dark">
    <tr>
        
        <th></th>
        <th style="width: 11.1111%;">ФИО</th>
       
        <th style="width: 11.1111%;">Номер ВУ</th>
        <th style="width: 11.1111%;">Дата выдачи ВУ</th>
        <th style="width: 11.1111%;">Классы вождения</th>
        <th style="width: 11.1111%;">Стаж</th>
        <th>Закрепленный автомобиль</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var driver in Model)
    {
        <tr>
            <td><a class="btn btn-primary" asp-action="DriverEdit" asp-route-id="@driver.id">Изменить</a></td>
            <td style="width: 11.1111%;">@driver.name</td>
            
            <td style="width: 11.1111%;">@driver.drcertnum</td>
            <td style="width: 11.1111%;">@driver.drcertdate.ToShortDateString()</td>
            <td style="width: 11.1111%;">@driver.classs</td>
            <td style="width: 11.1111%;">@driver.timedriving</td>
            
                @{
                    List<CarNew> GetCars()
                    {
                        string comText =
                            "select \"CarList\".* from \"CarList\", drivers where \"CarList\".id=drivers.auto and drivers.id="+driver.id;
                        Console.WriteLine($"INFO:{comText}");
                        return DbExecutor.Execute<CarNew>("Server=127.0.0.1;User Id=postgres;Password=6851;Database=Dilpom;", comText, new DBCarNewHandler());
                    }

                    List<CarNew> cars = GetCars();
                    foreach (var car in cars)
                    {
                        <td>@car.govnum</td>
                    }
                }
            
            @* <td><a asp-action="DriverDelete" asp-route-id="@driver.id">Удалить</a></td>  *@
           


        </tr>
    }
       </tbody >
    </table >
<a class="btn btn-primary" asp-controller="Driver" asp-action="DriverTablePage">Назад</a>