@model FInalProject.Models.Driver

@{
    ViewData["Title"] = "Delete";
}


<h3>Вы уверены, что хотите удалить водителя из списка?</h3>
<div>


    <dl class="row">
        <form asp-action="Delete" asp-route-id="@Model.id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @{
                          
                            <input type="hidden" id="sort" value="@Model.id" />
                          
                          <label asp-for="surname" class="control-label">Госномер</label>
                          <label asp-for="surname" class="form-control">@Model.surname</label>
                          <span asp-validation-for="surname" class="text-danger"></span>
                          <label asp-for="name" class="control-label">Изготовитель</label>
                          <label asp-for="name" class="form-control">@Model.name</label>
                          <span asp-validation-for="name" class="text-danger"></span>
                          <label asp-for="patronymic" class="control-label">Тип машины</label>
                          <label asp-for="patronymic" class="form-control">@Model.patronymic</label>
                          <span asp-validation-for="patronymic" class="text-danger"></span>
                          <label asp-for="drcertnum" class="control-label">Модель</label>
                          <label asp-for="drcertnum" class="form-control">@Model.drcertnum</label>
                          <span asp-validation-for="drcertnum" class="text-danger"></span>
                          <label asp-for="drcertdate" class="control-label">Объем кузова</label>
                          <label asp-for="drcertdate" class="form-control">@Model.drcertdate</label>
                          <span asp-validation-for="drcertdate" class="text-danger"></span>
                          <label asp-for="classs" class="control-label">Тип топлива</label>
                          <label asp-for="classs" class="form-control">@Model.classs</label>
                          <span asp-validation-for="classs" class="text-danger"></span>
                          <label asp-for="timedriving" class="control-label">Объем бензобака</label>
                          <label asp-for="timedriving" class="form-control">@Model.timedriving</label>
                          <span asp-validation-for="timedriving" class="text-danger"></span>
                
                            
                
            }
            <div class="form-group">
                            <input type="submit" value="Удалить" class="btn btn-danger"/>
                        </div>
            <a asp-action="DriverTablePage">Вернуться назад</a>
        </form>
    </dl>
</div>