@model FInalProject.Models.CarNew

@{
    ViewData["Title"] = "Delete";
}


<h3>Вы уверены, что хотите удалить автомобиль из списка?</h3>
<div>


    <dl class="row">

        <form asp-action="Delete" asp-route-id="@Model.id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <label asp-for="type" class="control-label">Тип, модификация</label>
            <label asp-for="type" class="form-control">@Model.type</label>
            <span asp-validation-for="type" class="text-danger"></span>
            <label asp-for="model" class="control-label">Марка, модель</label>
            <label asp-for="model" class="form-control">@Model.model</label>
            <span asp-validation-for="model" class="text-danger"></span>
            <label asp-for="vin" class="control-label">VIN</label>
            <label asp-for="vin" class="form-control">@Model.vin</label>
            <span asp-validation-for="vin" class="text-danger"></span>
            <label asp-for="yearprod" class="control-label">Год выпуска</label>
            <label asp-for="yearprod" class="form-control">@Model.yearprod</label>
            <span asp-validation-for="yearprod" class="text-danger"></span>
            <label asp-for="govnum" class="control-label">Гос. номер</label>
            <label asp-for="govnum" class="form-control">@Model.govnum</label>
            <span asp-validation-for="govnum" class="text-danger"></span>
            <label asp-for="value" class="control-label">Объём, м3</label>
            <label asp-for="value" class="form-control">@Model.value</label>
            <span asp-validation-for="value" class="text-danger"></span>
            <label asp-for="weight" class="control-label">Масса без нагрузки кг</label>
            <label asp-for="weight" class="form-control">@Model.weight</label>
            <span asp-validation-for="weight" class="text-danger"></span>
            <label asp-for="maxweight" class="control-label">Разрешенная максимальная масса кг</label>
            <label asp-for="maxweight" class="form-control">@Model.maxweight</label>
            <span asp-validation-for="maxweight" class="text-danger"></span>
            <label asp-for="fueltype" class="control-label">Марка топлива, объём топливного бака</label>
            <label asp-for="fueltype" class="form-control">@Model.fueltype</label>
            <span asp-validation-for="fueltype" class="text-danger"></span>
            <label asp-for="techstate" class="control-label">Техническое состояние (№ страхового полиса исправной техники)</label>
            <label asp-for="techstate" class="form-control">@Model.techstate</label>
            <span asp-validation-for="techstate" class="text-danger"></span>
            <label asp-for="srokpodk" class="control-label">Срок по ДК</label>
            <label asp-for="srokpodk" class="form-control">@Model.srokpodk</label>
            <span asp-validation-for="srokpodk" class="text-danger"></span>
            <label asp-for="inscomp" class="control-label">Стаховая компания по ОСАГО</label>
            <label asp-for="inscomp" class="form-control">@Model.inscomp</label>
            <span asp-validation-for="inscomp" class="text-danger"></span>
            <label asp-for="osagocost" class="control-label">Стоимость ОСАГО</label>
            <label asp-for="osagocost" class="form-control">@Model.osagocost</label>
            <span asp-validation-for="osagocost" class="text-danger"></span>
            <label asp-for="platonnum" class="control-label">ПЛАТОН, №</label>
            <label asp-for="platonnum" class="form-control">@Model.platonnum</label>
            <span asp-validation-for="platonnum" class="text-danger"></span>
            <label asp-for="platondate" class="control-label">Дата оканчания срока службы БУ</label>
            <label asp-for="platondate" class="form-control">@Model.platondate</label>
            <span asp-validation-for="platondate" class="text-danger"></span>
            <label asp-for="platonreplace" class="control-label">Замена БУ ПЛАТОН на безвозмездной основе</label>
            <label asp-for="platonreplace" class="form-control">@Model.platonreplace</label>
            <span asp-validation-for="platonreplace" class="text-danger"></span>
            <label asp-for="glonastype" class="control-label">Тип устройства глонасс</label>
            <label asp-for="glonastype" class="form-control">@Model.glonastype</label>
            <span asp-validation-for="glonastype" class="text-danger"></span>
            <label asp-for="simnum" class="control-label">Номер СИМ</label>
            <label asp-for="simnum" class="form-control">@Model.simnum</label>
            <span asp-validation-for="simnum" class="text-danger"></span>
            <label asp-for="glonasdate" class="control-label">Дата установки</label>
            <label asp-for="glonasdate" class="form-control">@Model.glonasdate</label>
            <span asp-validation-for="glonasdate" class="text-danger"></span>
            <label asp-for="worktype" class="control-label">Вид работы</label>
            <label asp-for="worktype" class="form-control">@Model.worktype</label>
            <span asp-validation-for="worktype" class="text-danger"></span>
            <label asp-for="ptsowner" class="control-label">Собственник по ПТС</label>
            <label asp-for="ptsowner" class="form-control">@Model.ptsowner</label>
            <span asp-validation-for="ptsowner" class="text-danger"></span>
            <label asp-for="stsowner" class="control-label">Собственник по СТС</label>
            <label asp-for="stsowner" class="form-control">@Model.stsowner</label>
            <span asp-validation-for="stsowner" class="text-danger"></span>
            <label asp-for="regionloc" class="control-label">Местонахождение транспорта (регион)</label>
            <label asp-for="regionloc" class="form-control">@Model.regionloc</label>
            <span asp-validation-for="regionloc" class="text-danger"></span>
            
            <div class="form-group">
                <input type="submit" value="Удалить" class="btn btn-danger"/>
            </div>
            <a asp-action="CarTablePage">Вернуться назад</a>
        </form>
    </dl>
</div>