@using Type = FInalProject.Models.Type
@using FInalProject.Util.DB
@using FInalProject.Util.DbHandlers
@model List<FInalProject.Models.CarNew> 


<p>База данных автомобилей</p>


<form method="post" action="~/Car/CarSearch">
    <p>
        <select name ="field">
          <option value="type">Тип</option>
          </select>
    </p>
    <p>
        <label class="control-label">Значение</label>
        <select name="key">
            @{
                List<Type> GetTypes()
                {
                    string comText =
                        "select * from types;";
                    Console.WriteLine($"INFO:{comText}");
                    return DbExecutor.Execute<Type>("Server=127.0.0.1;User Id=postgres;Password=6851;Database=Dilpom;", comText, new DBTypeHandler());
                }

                List<Type> types = GetTypes();
                foreach (var type in types)
                {
                    <option value="@type.type">@type.type</option>
                }


            }
        </select>
        

    </p>
    <p>
        <input type="submit" value="Отправить"/>
    </p>
</form>
<table border="1" style="border-collapse: collapse; width: 100%;">
    <tbody>
    <tr>
        <th >Тип, модификация</th>
        <th >Модель</th>
        <th >Марка, модель</th>
        <th >Год выпуска</th>
        <th >Гос.авто.номер</th>
        <th >Объём, м3</th>
        <th >Масса без нагрузки кг</th>
        <th >Разрешенная максимальная масса кг</th>
        <th >Марка топлива, объём топливного бака</th>
        <th >Техническое состояние (№ страхового полиса исправной техники)</th>
        <th >Срок по ДК</th>
        <th >Стаховая компания по ОСАГО</th>
        <th >Стоимость ОСАГО</th>
        <th >ПЛАТОН, №</th>
        <th >Дата окончания срока службы БУ</th>
        <th >Замена БУ ПЛАТОН на безвозмездной основе</th>
        <th >Тип устройства глонасс</th>
        <th >Номер СИМ</th>
        <th >Дата установки</th>
        <th >Вид работы</th>
        <th >Собственник по ПТС</th>
        <th >Собственник по СТС</th>
        <th >Местонахождение транспорта (регион)</th>


    </tr>

    @foreach (var car in Model)
    {
        <tr>
            <td >@car.type</td>
            <td >@car.model</td>
            <td >@car.vin</td>
            <td >@car.yearprod</td>
            <td >@car.govnum</td>
            <td >@car.value</td>
            <td width="3%">@car.weight</td>
            <td width="3%">@car.maxweight</td>
            <td >@car.fueltype</td>
            <td >@car.techstate</td>
            <td >@car.srokpodk</td>
            <td >@car.inscomp</td>
            <td >@car.osagocost</td>
            <td >@car.platonnum</td>
            <td >@car.platondate</td>
            <td >@car.platonreplace</td>
            <td >@car.glonastype</td>
            <td >@car.simnum</td>
            <td >@car.glonasdate</td>
            <td >@car.worktype</td>
            <td >@car.ptsowner</td>
            <td >@car.stsowner</td>
            <td >@car.regionloc</td>
            <td><a asp-action="CarDelete" asp-route-id="@car.id">Удалить</a></td>
            <td><a asp-action="CarEdit" asp-route-id="@car.id">Изменить</a></td>
            <td><a asp-action="GetAutoDoc" asp-route-id="@car.id">Получить паспорт</a></td>


        </tr>
    }
        
    
    </tbody >
</table >
<div class="form-group">
    <a asp-area="" asp-controller="Car" asp-action="GetCarListExcel" >Excel таблица по автомобилям</a>
</div>
<form method="post" action="~/Car/GetCarListExcel">
    <p>
        <input type="submit" value="Отправить" />
    </p>
</form>