@model List<FInalProject.Models.Product> 


<p>Таблица "Товары"</p>
<table border="1" style="border-collapse: collapse; width: 100%;">
    <tbody>
    <tr>
        <th style="width: 11.1111%;">Название</th>
        <th style="width: 11.1111%;">Артикул</th>
        <th style="width: 11.1111%;">Единица измерения</th>
        <th style="width: 11.1111%;">Категория</th>
        <th style="width: 11.1111%;">Поставщик</th>
        <th style="width: 11.1111%;">Склад</th>
        <th style="width: 11.1111%;">Цена</th>
        <th style="width: 11.1111%;">Дата поставки</th>
        <th style="width: 11.1111%;">Количество</th>
        <th>

        </th>
    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td style="width: 11.1111%;" contenteditable='true'>@product.ProductName</td>
            <td style="width: 11.1111%;" contenteditable='true'>@product.ProductIndex</td>
            <td style="width: 11.1111%;" contenteditable='true'>@product.ProductUnit</td>
            <td style="width: 11.1111%;" contenteditable='true'>@product.CategoryId</td>
            <td style="width: 11.1111%;" contenteditable='true'>@product.SellerId</td>
            <td style="width: 11.1111%;" contenteditable='true'>@product.StockId</td>
            <td style="width: 11.1111%;" contenteditable='true'>@product.ProductPrice</td>
            <td style="width: 11.1111%;" contenteditable='true'>@product.ProductDate</td>
            <td style="width: 11.1111%;" contenteditable='true'>@product.Amount</td>
            <td>
                <a asp-action="EditProduct" asp-route-id="@product.ProductId">Изменить</a>
                <a asp-action="ProductTablePage">Вернуться назад</a>
            </td>
        </tr>
    }

    </tbody >
</table >